
/* RESET STYLE SEMANTIC */
.ui.grid,
.ui.grid+.grid{
    margin : 0;
}
.ui.grid>.row{
    padding : 0;
}
.ui.grid>.row>.column{
    padding : 0;
}
.ui.segment span, 
.ui.segments .segment span{
    font-size : 1.1rem;
}
.element_components{
    display: flex;
    justify-content: space-between;
   
}
.count_reponses{
color: #C0C0C0;
margin-right: 20px;
}
.active_count_reponses{
    color:blue;
    margin-right: 20px;
}
body{
    background-color: #f1f0e5;
}
.App{
    height: 100%;
    width: 100%;
}
