.modalClients {
    width: 500px;
    height:400px;
    background-color: hotpink !important;
}

.styles_modal__gNwvD {
    background-color: #bada55 ; 
    width: 500px;
    height:400px;
    text-align: center;
}
