
.connect{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title_compagny{
    font-size: 40px;
}

.displayProjects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}
.buttonProject{
    margin: 10% !important;
}
