.ui.grid.header-wrapper {
  background: #000;
  height: 100px;
  align-items: center;
  margin: 0;
}

.project-name, .project-link {
  color: #fff;
}

.project-link {
  color: #bbbbbb;
  font-size : 16px;
}

.project-image {
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin: 0 auto;
}
