.element_resource {
    cursor: pointer;
    margin-bottom: 15px;
}

.active_resource {
    background-color: rgba(31, 56, 100, 0.1);
    cursor: pointer;
    margin-bottom: 15px;
}

.archive,
.count_reponses, 
.drag i{
    color: #757575;
}
.element_resource:hover .drag{
    display:block;
}

.active_resource:hover .drag{
    display:block;
}
