.block .ui.segment{
    padding : 1.5em;
}

.titles-segment{
    display: flex;
    justify-content: space-between;
}
.titles-segment h2{
    margin : 0
}
.unprocessed-ticket{
    cursor: pointer;
    font-weight: bold;
}
.processed-ticket{
    cursor: pointer;
    font-weight: normal;
}
.hidden{
    display:none;
}
.new_element{
    font-size: 20px;
    color:gray;
    cursor: pointer;
    margin-bottom: 10px;
}
