.block .ui.segment{
    padding : 1.5em;
}

.titles-segment{
    display: flex;
    justify-content: space-between;
}
.titles-segment h2{
    margin : 0
}
.unprocessed-ticket{
    cursor: pointer;
    font-weight: bold;
}
.processed-ticket{
    cursor: pointer;
    font-weight: normal;
}
