.archive {
    color: #C0C0C0;
    cursor: pointer;
}
.element_ticket {
    cursor: pointer;
    margin-bottom : 15px;
}
.element_activ {
    margin-bottom: 30px;
}
.active_ticket{
    background-color: rgba(31, 56, 100,0.03);
    cursor: pointer;
    margin-bottom : 15px;
}
.element_ticket,
.active_ticket{
    margin-bottom : 15px; 
    padding : 10px;
}


