.element_todo {
    cursor: pointer;
}

.checked {
    color: grey;
    cursor: pointer;
}

.archive,
.count_reponses, 
.drag i{
    color: #757575;
}
.notchecked {
    color: black;
    cursor: pointer;
}

.active_todo {
    background-color: rgba(31, 56, 100, 0.1);
    cursor: pointer;
}

.element_todo, .active_todo {
    margin-bottom: 15px;
    padding: 10px;
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -webkit-transition: opacity 2s ease-out;
}

